*.log
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/public/farmville/assets
/storage/*.key
/storage/pail
/vendor
.cache/
Homestead.json
Homestead.yaml
Thumbs.db

# PHP/Laravel 
bootstrap/cache/*
!bootstrap/cache/.gitkeep
.php-cs-fixer.cache
_ide_helper*.php
.phpstorm.meta.php

# Storage 
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
!storage/**/.gitkeep

# Package Managers
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
